@charset "UTF-8";

/* about_department */
.section[data-name="about_department"] {width: 100%; padding: 100px 0 120px 0; background-color: #f9f9f9;}
.section[data-name="about_department"] .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 22px; line-height: 1.36; color:#292929; text-align: center;}
.section[data-name="about_department"] .text {font-family: 'Noto Sans', sans-serif; font-size: 16px; line-height: 1.75; color:#292929; margin-top: 10px; text-align: center;}
.section[data-name="about_department"] .content {display: flex; margin-top: 63px;}
.section[data-name="about_department"] .content .box {width: 190px; min-height: 331px; margin-right: 32px; padding: 23px 25px; box-sizing: border-box;
box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
display: flex;
align-items: center;
flex-direction: column;
}
.section[data-name="about_department"] .content .box .round {width: 139px; height: 139px;
border-radius: 50%;
background-color: #f8f8f8;
margin-bottom: 28px;
background-repeat: no-repeat;
background-size: auto;
background-position: center;}

.section[data-name="about_department"] .content .box:nth-child(1) .round {background-image: url(/assets/images/about/department_1.png);}
.section[data-name="about_department"] .content .box:nth-child(2) .round {background-image: url(/assets/images/about/department_2.png);}
.section[data-name="about_department"] .content .box:nth-child(3) .round {background-image: url(/assets/images/about/department_3.png);}
.section[data-name="about_department"] .content .box:nth-child(4) .round {background-image: url(/assets/images/about/department_4.png);}
.section[data-name="about_department"] .content .box:nth-child(5) .round {background-image: url(/assets/images/about/department_5.png);} 
.section[data-name="about_department"] .content .box .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 16px; line-height: 1.38; color:#292929; margin-bottom: 17px; text-align: center; width: 100%;}
.section[data-name="about_department"] .content .box .text {font-family: 'Noto Sans', sans-serif; font-size: 14px; line-height: 1.64; color:#5a5a5a; text-align: center; width: 100%;}

/* about_history */
.section[data-name="about_history"] {width: 100%; padding: 100px 0 185px 0;}
.section[data-name="about_history"] .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 22px; line-height: 1.36; color:#292929; text-align: center;}
.section[data-name="about_history"] .text {font-family: 'Noto Sans', sans-serif; font-size: 16px; line-height: 1.75; color:#292929; margin-top: 10px; text-align: center;}
.section[data-name="about_history"] .history_area {margin-top: 82px;}
.section[data-name="about_history"] .history_area .content {display: flex; flex-wrap: wrap; padding: 0 165.5px 0 275.5px; margin-top: 150px;
background-image: url(/assets/images/about/history_dot.png);
background-repeat: no-repeat;
background-size: contain;
background-position: top;
}
.section[data-name="about_history"] .history_area .content:first-child {margin-top: 150px;}
.section[data-name="about_history"] .history_area .history_box {position: relative; width: 378px;}
.section[data-name="about_history"] .history_area .history_box:before {content:""; position: absolute; top: -5px; left: 13px; width: 11px; height: 11px; background-color: #ec6c00; border-radius:50%;}
.section[data-name="about_history"] .history_area .history_box.active:before {background-color: #d2d2d2;}
.section[data-name="about_history"] .history_area .history_box:last-child {margin-left: auto;}

.section[data-name="about_history"] .history_area .history_box:nth-child(3n) {margin-right: 0;}
.section[data-name="about_history"] .history_area .history_box .year {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 16px; line-height: 1.38; color:#292929; margin-top: 30px;}
.section[data-name="about_history"] .history_area .history_box .info {margin-top: 16px;}


.section[data-name="about_history"] .history_area .history_box .info .month_box {position: relative;}
.section[data-name="about_history"] .history_area .history_box .info .month_box .month {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 14px; position: absolute; top: 0; left: 0;}
.section[data-name="about_history"] .history_area .history_box .info .month_box p {font-family: 'Noto Sans', sans-serif; font-size: 14px; line-height: 1.43; color:#5a5a5a; margin-bottom: 16px; margin-left: 27px;}


/* about_news */
.section[data-name="about_news"] {width: 100%; padding: 100px 0 100px 0; background-color: #f9f9f9;}
.section[data-name="about_news"] .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 22px; line-height: 1.36; color:#292929; text-align: center;}
.section[data-name="about_news"] .text {font-family: 'Noto Sans', sans-serif; font-size: 16px; line-height: 1.75; color:#292929; margin-top: 10px; text-align: center;}
.section[data-name="about_news"] .news_list_box {margin-top: 60px;}
.section[data-name="about_news"] .news_list_box .content {display: flex; flex-wrap: wrap;}
.section[data-name="about_news"] .news_list_box .content .box {display: flex; flex-direction: column; width: 248px; min-height: 402.6px; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); background-color: #ffffff; margin-right: 28px;}
.section[data-name="about_news"] .news_list_box .content .box:nth-child(4n) {margin-right: 0;}
.section[data-name="about_news"] .news_list_box .content .box:nth-child(n+5) {margin-top: 56.5px;}
.section[data-name="about_news"] .news_list_box .content .box .effect_area {overflow: hidden; cursor: pointer;}
.section[data-name="about_news"] .news_list_box .content .box .image_box {width: 248px; height: 248px; object-fit: contain; transition: all 1.3s cubic-bezier(0,0,.05,1);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.section[data-name="about_news"] .news_list_box .content .box .effect_area:hover .image_box {transform: scale(1.05)}

.section[data-name="about_news"] .news_list_box .content .box .info {display: flex; flex-direction: column; height: calc(100% - 248px);  padding: 11px 15px 16.6px 15px;}
.section[data-name="about_news"] .news_list_box .content .box .info .date {font-family: 'Noto Sans', sans-serif; font-size: 12px; color:#969696; line-height: 1.42;}
.section[data-name="about_news"] .news_list_box .content .box .info .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 16px; line-height: 1.38; color:#292929; text-align: left; margin-top: 6px; cursor: pointer;}
.news_page_move {margin-top: auto; text-align: right; }
.news_page_move span {cursor: pointer;}

.section[data-name="about_news"] .news_list_box .news_pagination {display: flex; justify-content: center; margin-top: 63.5px;}
.section[data-name="about_news"] .news_list_box .news_pagination .number {font-family: 'Noto Sans', sans-serif; font-size: 12px; line-height: 1.42; color:#969696; margin-right: 20px; cursor: pointer;}
.section[data-name="about_news"] .news_list_box .news_pagination li.active {font-family: 'Noto Sans', sans-serif; font-weight: bold; color:#292929;}
.section[data-name="about_news"] .news_list_box .news_pagination .arrow.prev {margin-right: 38px;}
.section[data-name="about_news"] .news_list_box .news_pagination .arrow.next {margin-left: 18px;}
.section[data-name="about_news"] .news_list_box .news_pagination .arrow {cursor: pointer;}

/* about_partner */
.section[data-name="about_partner"] {width: 100%; padding: 100px 0 135px 0;}
.section[data-name="about_partner"] .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 22px; line-height: 1.36; color:#292929; text-align: center;}
.section[data-name="about_partner"] .text {font-family: 'Noto Sans', sans-serif; font-size: 16px; line-height: 1.75; color:#292929; margin-top: 10px; text-align: center;}
.section[data-name="about_partner"] .content {display: flex; flex-wrap: wrap; margin-top: 60px;}
.section[data-name="about_partner"] .content .box {width: 248px; height: 117px; margin-right: 28px; position: relative;
background-repeat: no-repeat;
background-size: contain;
background-position: center;}
.section[data-name="about_partner"] .content .box:nth-child(4n) {margin-right: 0;}
.section[data-name="about_partner"] .content .box:nth-child(n+5) {margin-top: 51px;}
.section[data-name="about_partner"] .content .box .images {width: 100%; height: 100%; object-fit: contain;}
.section[data-name="about_partner"] .content .box .info_box {position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; background-color: rgba(65, 65, 65, 0.7); transition: all 0.3s ease;
display: flex;
flex-direction: column;
align-items: center; 
justify-content: center;}
.section[data-name="about_partner"] .content .box .info_box .name {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 16px; line-height: 1.38; color:#f9f9f9; text-align: center; width: 100%;}
.section[data-name="about_partner"] .content .box .info_box .date {font-family: 'Noto Sans', sans-serif; font-size: 14px; line-height: 1.36; color:#f9f9f9;}
.section[data-name="about_partner"] .content .box:hover .info_box {opacity: 1;}

@media(max-width:1400px){
	/* about_history */
	.section[data-name="about_history"] .history_area .content {padding: 0 100px;}
}

@media(max-width:1280px){
	/* about_news */
	.section[data-name="about_news"] .news_list_box .content .box {flex:0 1 calc(25% - 14px); margin-right: 0; margin-right: 14px;}
	.section[data-name="about_news"] .news_list_box .content .box .image_box {width: 100%;}
	
	/* about_partner */
	.section[data-name="about_partner"] .content .box {width: 33%; padding: 23px; box-sizing:border-box; margin-right: 0;}
	.section[data-name="about_partner"] .content .box:nth-child(n+5) {margin-top: 0;}
	
	/* about_department */
	.section[data-name="about_department"] .content {justify-content: center;}
}

@media(max-width:1024px){
	/* about_banner */
	.section[data-name="about_banner"] {padding: 72px 0 43px 0; height: auto;}
	.section[data-name="about_banner"] .title {font-size: 25px; margin-bottom: 17px;}
	.section[data-name="about_banner"] .sub_title {font-size: 12px; margin: 0; margin-bottom: 10px;}
	.section[data-name="about_banner"] .text {font-size: 12px;}
	
	/* about_department */
	.section[data-name="about_department"] {padding: 50px 0;}
	.section[data-name="about_department"] .title {font-size: 12px; margin-bottom: 10px;}
	.section[data-name="about_department"] .text {font-size: 12px; margin: 0;}
	.section[data-name="about_department"] .content {display: block; width: 100%; margin: 35px auto 0 auto;}
	.section[data-name="about_department"] .content .box {position: relative; display: block; width: 100%; min-height: 0; margin: 0 0 10px 0; padding: 18px 21px; overflow: hidden;}
	.section[data-name="about_department"] .content .box:last-child {margin-bottom: 0;}
	.section[data-name="about_department"] .content .box .round {margin-bottom: 0; width: 68px; height: 68px; background-size: 43px;
	position: absolute; left: 21px; top: 50%; 
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);}
	.section[data-name="about_department"] .content .box .title {float: left; width : 100%; width: calc(100% - 68px);   padding-left: 25px; box-sizing: border-box; font-size: 12px; text-align: left; margin-bottom: 10px; margin-left: 68px;}
	.section[data-name="about_department"] .content .box .text {float: left; width : 225px; width: calc(100% - 68px); padding-left: 25px; box-sizing: border-box; font-size: 12px; text-align: left; margin-left: 68px;}

	/* about_history */
	.section[data-name="about_history"] {padding: 50px 0;}
	.section[data-name="about_history"] .title {font-size: 12px; margin-bottom: 11px;}
	.section[data-name="about_history"] .text {font-size: 12px; margin: 0;}
	.section[data-name="about_history"] .history_area {margin: 0; position: relative;}
	.section[data-name="about_history"] .history_area:before {content:''; position: absolute; top: 0; left: 40px; width: 1px; height: 100%;
    background-image: url(/assets/images/about/123_t.png);
    background-repeat: repeat;
    background-size: 120%;
    background-position: top;
    opacity: 0.4;
	}
	.section[data-name="about_history"] .history_area .content {padding: 0 40px; margin-top: 0; background-image: none;}
	.section[data-name="about_history"] .history_area .content:first-child {margin-top: 34.5px;}
	.section[data-name="about_history"] .history_area .history_box {width: 100%; padding-left: 33.5px; margin-top: 50px; box-sizing:border-box;}
	.section[data-name="about_history"] .history_area .history_box:before {top: 4.5px; left: -5px;}
	.section[data-name="about_history"] .history_area .content:first-child .history_box:first-child {margin-top: 20.5px;}
	.section[data-name="about_history"] .history_area .history_box .year {margin-top: 0; font-size: 12px;}
	.section[data-name="about_history"] .history_area .history_box .info {margin-top: 11px;}
	.section[data-name="about_history"] .history_area .history_box .info .month_box .month {font-size: 12px;}
	.section[data-name="about_history"] .history_area .history_box .info .month_box p {margin-bottom: 6px; font-size: 12px;}
	
	/* about_news */
	.section[data-name="about_news"] {padding: 50px 0;}
	.section[data-name="about_news"] .title {font-size: 12px; margin-bottom: 10px;}
	.section[data-name="about_news"] .text {font-size: 12px; margin: 0;}
	.section[data-name="about_news"] .news_list_box {margin-top: 35px;}
	
	.section[data-name="about_news"] .news_list_box .content {display: block; overflow: hidden;}
	.section[data-name="about_news"] .news_list_box .content .box {float: left; display: block; width: 49%; margin: 0; margin-top: 2%; min-height: 0; overflow: hidden;}
	.section[data-name="about_news"] .news_list_box .content .box:nth-child(even) {float: right;}
	.section[data-name="about_news"] .news_list_box .content .box:nth-child(odd) {float: left;}
	.section[data-name="about_news"] .news_list_box .content .box:nth-child(n+5) {margin-top: 2%;}
	.section[data-name="about_news"] .news_list_box .content .box .effect_area {float: left;}
	.section[data-name="about_news"] .news_list_box .content .box .image_box {width: 100px; height: 100px;}
	.section[data-name="about_news"] .news_list_box .content .box .info {margin-left: 100px;}
	.section[data-name="about_news"] .news_list_box .content .box .info .title {font-size: 12px; height: 16px;}
	.section[data-name="about_news"] .title.ellipsis_line_2 {-webkit-line-clamp: 1;}
	.section[data-name="about_news"] .news_list_box .news_pagination {margin-top: 20px; display: block; text-align: center;}
	.section[data-name="about_news"] .news_list_box .news_pagination .number {display: inline;}
	
	
	/* about_partner */
	.section[data-name="about_partner"] {padding: 50px 0;}
	.section[data-name="about_partner"] .title {font-size: 12px; margin: 10px;}
	.section[data-name="about_partner"] .text {font-size: 12px; margin: 0;}
	.section[data-name="about_partner"] .content {margin-top: 35px; display: block; overflow: hidden;}
	.section[data-name="about_partner"] .content .box {float: left; margin-right: 0; width: 33%; padding: 23px; box-sizing:border-box;}
	.section[data-name="about_partner"] .content .box:nth-child(n+5) {margin: 0;}
	.section[data-name="about_partner"] .content .box .info_box .name {font-size: 12px;}
}

@media(max-width:500px){
	/* about_history */
	.section[data-name="about_history"] .history_area .content {padding: 0 20px;}
	.section[data-name="about_history"] .history_area:before {left: 20px;}
	
	/* about_news */
	.section[data-name="about_news"] .news_list_box .content .box {width: 100%;}
}
