@charset "UTF-8";

/* careers_support */
.section[data-name="careers_support"] {background-color: #f9f9f9; padding: 100px 0 120px 0;}
.section[data-name="careers_support"] .content {display: flex;}
.section[data-name="careers_support"] .content .left_box {margin-right: 53px;}
.section[data-name="careers_support"] .content .left_box .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 22px; line-height: 1.36; color:#292929; margin-bottom: 10px;}
.section[data-name="careers_support"] .content .left_box .text  {font-family: 'Noto Sans', sans-serif; font-size: 16px; line-height: 1.75; margin-bottom: 10px;}
.section[data-name="careers_support"] .content .left_box .text:last-child {margin-bottom: 0px;}
.section[data-name="careers_support"] .content .left_box .contact_info {margin-top: 103px; font-size: 16px; color:#292929; line-height: 1.38;}
.section[data-name="careers_support"] .content .left_box .contact_info b {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 16px; margin-right: 5px;}
.section[data-name="careers_support"] .content .left_box .contact_info span {font-family: 'Noto Sans', sans-serif;}
.section[data-name="careers_support"] .content .left_box .contact_info .tel {margin-bottom: 10px;}
.section[data-name="careers_support"] .content .left_box .page_move {width: 386px; height: 46px; margin-top: 36px;}

.section[data-name="careers_support"] .content .right_box {display: flex; justify-content : space-between; width: 100%;}
.section[data-name="careers_support"] .content .right_box .white_box {display: flex; flex-direction: column; align-items: center; width: 33%; padding: 30px 23px; box-sizing: border-box; height: 100%; margin-right: 20px; background-color: #ffffff; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);}
.section[data-name="careers_support"] .content .right_box .white_box:last-child {margin-right: 0;}
.section[data-name="careers_support"] .content .right_box .white_box .round {width: 145px; height: 145px; border-radius:50%; background-color: #f8f8f8;
background-repeat: no-repeat ;
background-size: auto ;
background-position: center;}
.section[data-name="careers_support"] .content .right_box .white_box:nth-child(1) .round{background-image: url(/assets/images/careers/support01.png);}
.section[data-name="careers_support"] .content .right_box .white_box:nth-child(2) .round {background-image: url(/assets/images/careers/support02.png);}
.section[data-name="careers_support"] .content .right_box .white_box:nth-child(3) .round {background-image: url(/assets/images/careers/support03.png);}
.section[data-name="careers_support"] .content .right_box .white_box .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 16px; line-height: 1.38; color:#292929; margin-top: 34px; text-align: center; width: 100%;}
.section[data-name="careers_support"] .content .right_box .white_box .text {font-family: 'Noto Sans', sans-serif; font-size: 14px; line-height: 1.64; color:#5a5a5a; margin-top: 18px; width: 100%; text-align: center;}

/* careers_office */
.section[data-name="careers_office"] {background-color: #ffffff; padding: 100px 0 120px 0;}
.section[data-name="careers_office"] .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 22px; line-height: 1.36; color:#292929;}
/* .section[data-name="careers_office"] .swiper_area {} */
.section[data-name="careers_office"] .swiper_area .swiper_menu {display: flex; margin-bottom: 10px;}
.section[data-name="careers_office"] .swiper_area .swiper_menu li {font-family: 'Noto Sans', sans-serif; font-size: 14px; line-height: 1.36; color:#969696; margin-right: 13px; cursor: pointer;}
.section[data-name="careers_office"] .swiper_area .swiper_menu li:first-child {margin-left: auto;}
.section[data-name="careers_office"] .swiper_area .swiper_menu li:last-child {margin-right: 0;}
.section[data-name="careers_office"] .swiper_area .swiper_menu li.active {font-family: 'Noto Sans', sans-serif; font-weight: bold; color:#292929; font-size: 14px;}
/* .section[data-name="careers_office"] .swiper_area .swiper-container {display: none;} */
/* .section[data-name="careers_office"] .swiper_area .swiper-container.active {display: block;} */
.section[data-name="careers_office"] .swiper_area .swiper-slide {width: 100%; height: 498px;
background-repeat: no-repeat ;
background-size: cover ;
background-position: center}
.section[data-name="careers_office"] .swiper_area .swiper-button-prev {left: 15px;}
.section[data-name="careers_office"] .swiper_area .swiper-button-next {right: 15px;}
.section[data-name="careers_office"] .swiper_area .swiper-button-next:after,
.section[data-name="careers_office"] .swiper_area .swiper-button-prev:after {content:''; width: 40px; height: 40px;
background-repeat: no-repeat ;
background-size: auto ;
background-position: center}
.section[data-name="careers_office"] .swiper_area .swiper-button-next:after {background-image: url(/assets/images/careers/White_right.png);}
.section[data-name="careers_office"] .swiper_area .swiper-button-prev:after {background-image: url(/assets/images/careers/White_left.png);}


/* careers_culture */
.section[data-name="careers_culture"] {background-color: #ffffff; padding-bottom: 140px;}
.section[data-name="careers_culture"] .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 22px; line-height: 1.36; color:#292929; margin-bottom: 30px;}
.section[data-name="careers_culture"] .content {display: flex; justify-content: space-between;  width: 100%;}
.section[data-name="careers_culture"] .content .box {display: flex; flex-direction: column; align-items: center; justify-content: center; width: 20%; height: 100%; margin-right: 85px;}
.section[data-name="careers_culture"] .content .box:last-child {margin-right: 0;}
.section[data-name="careers_culture"] .content .box .round {width: 139px; height: 139px; border-radius:50%; background-color: #f8f8f8; margin-bottom: 28px;
background-repeat: no-repeat ;
background-size: auto ;
background-position: center;}
.section[data-name="careers_culture"] .content .box:nth-child(1) .round {background-image: url(/assets/images/careers/culture01.png);}
.section[data-name="careers_culture"] .content .box:nth-child(2) .round {background-image: url(/assets/images/careers/culture02.png);}
.section[data-name="careers_culture"] .content .box:nth-child(3) .round {background-image: url(/assets/images/careers/culture03.png);}
.section[data-name="careers_culture"] .content .box:nth-child(4) .round {background-image: url(/assets/images/careers/culture04.png);}
.section[data-name="careers_culture"] .content .box:nth-child(5) .round {background-image: url(/assets/images/careers/culture05.png);} 
.section[data-name="careers_culture"] .content .box .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 16px; line-height: 1.38; color:#292929; margin-bottom: 17px; text-align: center; width: 100%;}
.section[data-name="careers_culture"] .content .box .text {font-family: 'Noto Sans', sans-serif; font-size: 14px; line-height: 1.64; color:#5a5a5a; text-align: center; width: 106%;}
 
@media(max-width:1024px){
	/* careers_support */
	.section[data-name="careers_support"] {padding: 50px 0;}
	.section[data-name="careers_support"] .content {flex-direction: column;}
	.section[data-name="careers_support"] .content .left_box {margin-right: 0;}
	.section[data-name="careers_support"] .content .left_box .title {font-size: 12px; margin-bottom: 10px; text-align: center;}
	.section[data-name="careers_support"] .content .left_box .text {font-size: 12px; text-align: center; margin: 0;}
	.section[data-name="careers_support"] .content .left_box .contact_info {display: none;}
	.section[data-name="careers_support"] .content .contact_info.mobile {display: block; text-align: center; margin-top: 35px;}
	.section[data-name="careers_support"] .content .contact_info.mobile b {display: block; margin-bottom: 5px;}
	.section[data-name="careers_support"] .content .contact_info.mobile .tel {margin-bottom: 30px;}
	.section[data-name="careers_support"] .content .contact_info.mobile .page_move {width: 227px; height: 47px; margin: 25px auto 0 auto; font-size: 15px;}
	.section[data-name="careers_support"] .content .right_box {margin-top: 35px; flex-wrap:wrap;}
	.section[data-name="careers_support"] .content .right_box .white_box {width: 100%; margin: 0; display: block; padding: 22px; position: relative; margin-bottom: 10px;}
	.section[data-name="careers_support"] .content .right_box .white_box .round {width: 76px; height: 76px; background-size: 70%;
	position: absolute; left: 22px; top: 50%; transform: translateY(-50%);}
	.section[data-name="careers_support"] .content .right_box .white_box .title {font-size: 12px; margin: 0; margin-bottom: 10px; margin-left: 101px; text-align: left; width: calc(100% - 101px);}
	.section[data-name="careers_support"] .content .right_box .white_box .text {font-size: 12px; margin: 0; text-align: left; margin-left: 101px;     width: calc(100% - 101px);}

 	/* careers_office */
	.section[data-name="careers_office"] {padding: 50px 0;}
	.section[data-name="careers_office"] .title {text-align: center; font-size: 12px; margin-bottom: 5px;}
	.section[data-name="careers_office"] .swiper_area .swiper_menu li {font-size: 12px;}
	.section[data-name="careers_office"] .swiper_area .swiper_menu li.active {font-size: 12px;}
	.section[data-name="careers_office"] .swiper-button-prev,
	.section[data-name="careers_office"] .swiper-button-next {display: none;}
	
	/* careers_culture */
	.section[data-name="careers_culture"] {padding-bottom: 80px;}
	.section[data-name="careers_culture"] .content {flex-wrap:wrap;}
	.section[data-name="careers_culture"] .content .box {position: relative; width: 100%; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1); margin: 0; margin-bottom: 10px; padding: 18px;}
	.section[data-name="careers_culture"] .content .box .round {width: 76px; height: 76px; background-size: 70%; margin: 0;
	position: absolute; left: 18px; top: 50%; transform: translateY(-50%);}
	.section[data-name="careers_culture"] .content .box .title {font-size: 12px; margin: 0; margin-bottom: 10px; text-align: left; width: calc(100% - 101px); margin-left: 101px;}
	.section[data-name="careers_culture"] .content .box .text {font-size: 12px; margin: 0; text-align: left; width: calc(100% - 101px); margin-left: 101px;}
}

@media(max-width:500px){
	.section[data-name="careers_office"] .swiper_area .swiper-slide {height: 250px;}
}