@charset "UTF-8";
/* prettier-ignore-start */

#footer {width: 100%; background-color: #292929; padding: 27px 0 37.5px 0; }
#footer .container_1076 {position: relative;}
#footer .company {font-size: 14px; line-height: 1.36; color:#d2d2d2; font-weight: bold; margin-bottom: 10px; font-family: 'Noto Sans', sans-serif;}
#footer .address {font-size: 14px; line-height: 1.36; color:#d2d2d2; margin-bottom: 9.5px; font-family: 'Noto Sans', sans-serif;}
#footer .contact_info {display: flex; color:#d2d2d2; margin-bottom: 30px;}
#footer .contact_info b {font-family: 'Noto Sans', sans-serif; font-weight: bold; margin-right: 9px;}
#footer .contact_info span {font-family: 'Noto Sans', sans-serif;}
#footer .contact_info .tel {margin-right: 47px;}
#footer .copyright {font-family: 'Noto Sans', sans-serif; line-height: 1.36; color:#d2d2d2; font-size: 14px;}
#footer .family_sites {font-family: 'Noto Sans', sans-serif; position: absolute; top: 24px; right: 0; border:2px solid #969696; color:#d2d2d2; background-color: transparent; width: 138px; height: 32px; font-size: 14px; padding-left: 17px;}

#footer .family_site {position: absolute; top: 60px; right: 0;}
#footer .family_site .trick_box {position: absolute; bottom: 0; right: 0; border: solid 2px #969696; width: 138px; cursor: pointer;}
#footer .family_site .trick_box .hover_box {display: flex; align-items: center; width: 138px; height: 32px; padding: 0 10px; box-sizing: border-box;}
#footer .family_site .trick_box .hover_box span {font-family: 'Noto Sans', sans-serif; font-size: 14px; color:#d2d2d2; line-height: 1.36; margin-right: 24px;}
#footer .family_site .trick_box .hover_box .arrow {width: 9px; height: 7px; transition: transform .25s ease;
background-repeat: no-repeat;
background-size: contain;
background-position: center;
background-image: url('/assets/images/common/arrow_up_gray.png');
}
#footer .family_site .trick_box:hover .hover_box .arrow {transform: rotateZ(180deg);}
#footer .family_site .trick_box .link_box {height: 0; transition: height .25s ease;}
/* #footer .family_site .trick_box .link_box li {} */
#footer .family_site .trick_box .link_box li a {display: flex; opacity: 0; align-items: center; padding: 0 10px; height: 32px; color: #d2d2d2; font-family: 'Noto Sans', sans-serif; font-size: 14px;}
#footer .family_site .trick_box:hover {background-color: #fff;}
#footer .family_site .trick_box:hover .link_box {height: 32px;}
#footer .family_site .trick_box:hover .link_box li a {opacity: 1; color:#292929;}
#footer .family_site .trick_box:hover .hover_box span {color:#292929;}
#footer .family_site .trick_box:hover .hover_box .arrow {background-image: url('/assets/images/common/arrow_up_black.png');}

#footer .language_change {position: absolute; top: 45px; right: 170px; display: flex; color:#fff;}
#footer .language_change li {cursor: pointer; margin-right: 14px; color:#5a5a5a; font-family: 'Noto Sans', sans-serif; font-weight: bold;}
#footer .language_change li:last-child {margin-right: 0;}
#footer .language_change li.active {color:#d2d2d2;}


#footer .family_site .trick_box:before {content:''; position: absolute; bottom: -52px; left: 0; width: 100%; height: 50px; background-color: #292929;}

@media(max-width:1024px){
	#footer {padding: 32px 0 30.5px 0;}
	#footer .container_1076 {text-align: center;}
	#footer .family_site .trick_box {display: none;}
	#footer .company {font-size: 12px; }
	#footer .address {font-size: 12px;}
	#footer .contact_info {font-size: 12px; display: block; margin-bottom: 13.5px;}
	#footer .contact_info .tel {margin-bottom: 13px;}
	#footer .copyright {font-size: 12px;}
}

@media(max-width:500px){
	#footer .container_1076 {text-align: left;}
}


/* prettier-ignore-end */