@charset "UTF-8";

#header {position: fixed; top: 0; width: 100%; background-color: #fff; z-index: 999;
transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-webkit-transform: translateY(0);
 transform: translateY(0);}
#header .content {display: flex; align-items: center;}
#header .content .logo {margin-right: auto;}
#header .content .logo img {width: 138px; height: 38px; padding: 32px 0 28px 0;}
#header .content .quick_menu {font-size: 18px; font-weight: bold; color: #292929; font-family: 'Noto Sans', sans-serif;}
#header .content .quick_menu:nth-child(2) {margin-right: 70px;}
#header .content .quick_menu:nth-child(3) {margin-right: 58px;}
#header .content .quick_menu:nth-child(4) {margin-right: 63px;}
#header .content .quick_menu:nth-child(5) {margin-right: 69px;}
#header .content .quick_menu:nth-child(6) {margin-right: 58px;}
#header .content .quick_menu:nth-child(7) {margin-right: 58px;}
#header .content .quick_menu:nth-child(8) {margin-right: 58px;}
#header .content .quick_menu:nth-child(9) {margin-right: 58px;}
.router-link-exact-active {
  color:#ec6c00;
}

.language_change {width: 49px; height: 25px;}
.animation_language_change {position: relative; width: 49px; height: 25px; border-radius:15px; border: 1px solid #969696; background-color: #ffffff; cursor: pointer; transition: all 0.5s ease; padding-top: 3px;box-sizing: border-box;}
.animation_language_change li {display: flex; align-items: center; width: 100%; opacity: 0; height: 0; transition: all 0.5s ease; padding-left: 11.8px;  box-sizing: border-box; pointer-events: none; font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 14px; color:#969696;}
.animation_language_change li.active {opacity: 1; height: auto; position: relative;}
.animation_language_change li.active img {width: 6px; height: 5px; margin-left: 4.2px;}
.animation_language_change .placeholder {display: flex; align-items: center;position: absolute; left: 50%; top: 0; transform: translateX(-50%); height: 25px !important; line-height: 25px; opacity: 0;}
.animation_language_change.active {height: auto; border-radius: 13px; padding: 3px 0 8px 0;}
.animation_language_change.active li {opacity: 1; height: auto; pointer-events: auto; margin-bottom: 4px;}
.animation_language_change.active li:nth-child(3) {padding-left: 12.8px; }
.animation_language_change.active li:last-child {margin-bottom: 0;}
.animation_language_change:before {content:''; position: absolute; right: 8px; top: 10.5px;  width: 6px; height: 5px;
background-image: url(/assets/images/common/arrow_down_gray.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;}




@media(max-width:1024px){
	/* header */
	#header {}
	#header .container_1539 {width: 100%;}
	#header .content {display: none;}
	
	#header .mobile {display: block;}
	#header .mobile .content {width: 95%; margin: 0 auto; height: 95px; position: relative;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
 
	align-items: center;
	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
 	}
 	#header .mobile .content .logo img {width: 107px; height: 29px; padding: 0;}
 	#header .mobile .content .menu_img {position: absolute; right: 0; top: 50%; 
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);}
	#header .mobile .content .menu_img img {width: 36px; cursor: pointer;}
	#header .mobile .menu {display: none; background-color: #f9f9f9; padding: 0 2.5%; position: relative;}
	#header .mobile .menu .quick_menu {text-align: right; cursor: pointer; padding: 10px 0;}
	#header .mobile .menu .quick_menu.active a {color:#ec6c00;}
	#header .mobile .menu .quick_menu a {font-size: 18px; color: #292929; font-family: 'Noto Sans', sans-serif; font-weight: bold;}
	#header .mobile li.language_change {margin: 0; position: absolute; bottom: 10px;}
}


