@charset "UTF-8";

/* quick_banner */
.section[data-name="quick_banner"] {width: 100%; padding: 55px 0 50px 0; position: relative; height: 268px;
    box-sizing: border-box; background: #f9f9f9;}
.section[data-name="quick_banner"] .bg {position: absolute; bottom: -5px; left: 0; width: 100%; height: 100%; display: flex;}
.section[data-name="quick_banner"] .bg .contact,
.section[data-name="quick_banner"] .bg .careers {width: 50%; height: 100%; transition: .5s all;
background-repeat: no-repeat ;
background-size: cover ;
background-position: center;}
.section[data-name="quick_banner"] .bg .contact {background-image: url(/assets/images/common/quick_banner/contact.png); background-position: right;}
.section[data-name="quick_banner"] .bg .careers {background-image: url(/assets/images/common/quick_banner/careers.png); background-position: left;}

.section[data-name="quick_banner"] .bg .contact.active {background-image: url(/assets/images/common/quick_banner/contact_over.png);}
.section[data-name="quick_banner"] .bg .careers.active {background-image: url(/assets/images/common/quick_banner/careers_over.png);}


.section[data-name="quick_banner"] .content {display: flex; position: relative; z-index: 1;}
.section[data-name="quick_banner"] .contact {display: flex; width: 50%;}
.section[data-name="quick_banner"] .contact .character {width: 161px; height: 148px; margin-right: 62px;}
.section[data-name="quick_banner"] .careers {display: flex; width: 50%; text-align: right;}
.section[data-name="quick_banner"] .careers .character {width: 187px; height: 150px; margin-left: 62px;}
.section[data-name="quick_banner"] .careers .box {margin-left: auto;}
.section[data-name="quick_banner"] .careers .box .quick_move {margin-left: auto;}
.section[data-name="quick_banner"] .box .sub_title {font-family: 'Noto Sans', sans-serif; font-size: 16px; line-height: 1.38; color:#292929; margin-bottom: 8px;}
.section[data-name="quick_banner"] .box .title {font-family: 'Noto Sans', sans-serif; font-weight: bold; font-size: 22px; line-height: 1.36; color:#292929; margin-bottom: 37px;} 
.section[data-name="quick_banner"] .box .quick_move {font-family: 'Noto Sans', sans-seri; font-weight: bold; font-size: 18px; line-height: 1.33; width: 155px; height: 46px; border-radius:28px; background-color: #ec6c00; color:#fff;
display: flex;
align-items: center;
justify-content: center;}

@media(max-width:1280px){
	.section[data-name="quick_banner"] .contact .character {display: none;}
	.section[data-name="quick_banner"] .careers .character {display: none;}
}

@media(max-width:1024px){
	.section[data-name="quick_banner"] {background-color: #eee; height: auto; padding: 0;}
	.section[data-name="quick_banner"] .bg {display: none;}
	.section[data-name="quick_banner"] .content {display: block;}
	
	.section[data-name="quick_banner"] .box .sub_title {font-size: 12px; margin-bottom: 5px;}
	.section[data-name="quick_banner"] .box .title {font-size: 15px; margin-bottom: 28px;}
	.section[data-name="quick_banner"] .box .quick_move {width: 148px; margin: 0 auto; display: block; line-height: 46px;}
	
	.section[data-name="quick_banner"] .contact {width: 100%;}
	.section[data-name="quick_banner"] .contact .character {display: none;}	
	.section[data-name="quick_banner"] .contact .box {text-align: center; width: 100%; padding: 25px 0 34px 0;
	background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/common/quick_banner/contact_mobile.png);
    background-position: left;}
	.section[data-name="quick_banner"] .careers {display: block; width: 100%; overflow: hidden;}
	.section[data-name="quick_banner"] .careers .character {display: none;}
	.section[data-name="quick_banner"] .careers .box {margin-left: 0; width: 100%; text-align: center; padding: 25px 0 34px 0;
	background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/common/quick_banner/careers_mobile.png);
    background-position: right;}
	
	.container_1548 {width: 100%;}
	

}
